@use '../../abstracts/' as *;
.skills {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: rem(60);
    row-gap: rem(90);

    margin-inline: rem(24);

    @include breakpoint(medium) {
      gap: rem(120);

      margin-inline: rem(32);
    }
    @include breakpoint(large) {
      justify-content: center;

      gap: rem(100) rem(150);
    }
  }
}
