body#dark {
  background: var(--clr-dark-neutral-700);
  color: var(--clr-dark-neutral-400);

  h2 {
    color: var(--clr-dark-neutral-250);
  }

  h3 {
    color: var(--clr-dark-neutral-300);
  }
}

body#light {
  background: var(--clr-neutral-100);

  & input,
  & textarea {
    background-color: transparent;
  }
}
