@use '../../abstracts/' as *;

// !!Desktop first!!
.nav-links {
  position: relative;
  display: flex;
  gap: var(--gap);

  @include breakpoint-down(large) {
    display: grid;
    gap: rem(32);
  }

  &__slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;

    width: 0;
    margin: 0;

    border-bottom: 1px solid var(--clr-neutral-700);

    transition: margin 0.3s;

    @include breakpoint-down(large) {
      display: none;
    }
  }

  &__item--active {
    color: var(--clr-neutral-700);
  }

  &__link {
    padding-block: rem(8);
  }
}
