@use '../../abstracts/' as *;

// NB: Desktop first for this page

.nav {
  --gap: 2rem;

  @include breakpoint-down(large) {
    --gap: 1.5rem;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: rem(50);

  padding-inline: max(calc(20% - 200px), $margin-lg);

  border-bottom: 1px var(--clr-neutral-250) solid;

  background-color: var(--clr-neutral-100);

  transition: 0.3s;

  @include breakpoint-down(large) {
    padding: (0.5 * $margin-md) $margin-md;
  }

  @include breakpoint-down(medium) {
    padding-inline: 2 * $margin-sm;
    padding-block: rem(25);
  }

  &--on-top {
    border-bottom: 1px transparent solid;
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(32);

    @include breakpoint-down(large) {
      position: fixed;
      bottom: 100%;
      right: 0;
      left: 0;

      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap);

      height: 100vh;

      padding: (2 * $margin-md);
      padding-bottom: $margin-md;

      background-color: var(--clr-neutral-100);
      box-shadow: 0 0 10px -5px black;

      translate: 0 0;
      transition: translate 0.5s;

      &--open {
        translate: 0 100%;
      }
    }

    @include breakpoint-down(medium) {
      padding: 4 * $margin-sm;
      padding-bottom: 2 * $margin-sm;
    }
  }

  &__links {
    display: flex;
    gap: var(--gap);

    @include breakpoint-down(large) {
      display: grid;
      gap: var(--gap);
    }
  }

  &__logo-wrapper {
    width: rem(40);
    aspect-ratio: 1;
  }

  &__link {
    padding-block: rem(8);
  }

  &__lang-choice {
    min-width: 3.5rem;
  }

  &__burger {
    --burger-stroke: var(--clr-neutral-700);

    height: 35px;
    aspect-ratio: 1;

    padding: 0;

    border: none;
    background: none;

    z-index: 1;

    & .unactive {
      stroke-dasharray: 280 140 280 140 280 10000;
      stroke-dashoffset: 0;

      cursor: pointer;

      transition: stroke-dashoffset 0.5s;
    }

    .active {
      stroke-dasharray: 0 1545 320 235 380;
      stroke-dashoffset: 420;

      transition: stroke-dashoffset 0.5s;
    }
  }
}
