@use '../../abstracts/' as *;

.project {
  position: relative;

  display: grid;
  justify-content: center;

  &__img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    translate: 0 -75%;

    aspect-ratio: 1;

    z-index: -1;

    @include breakpoint(medium) {
      --img-max-size: 360px;

      translate: 0 -50%;

      &--left {
        left: calc(100% - var(--img-max-size));
      }

      &--right {
        left: 0;
        right: calc(100% - var(--img-max-size));
      }
    }
  }

  &__content {
    --flow: 2.375rem;

    max-width: rem(350);

    margin-inline: $margin-sm;
    padding: var(--flow) (2 * $margin-sm);

    border-radius: 0.5rem;
    background-color: var(--clr-neutral-100);
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.1);

    & > *:not(:first-child) {
      margin-top: var(--flow);
    }

    @include breakpoint(medium) {
      width: 75%;
      max-width: unset;

      margin-inline: 0;
      padding-inline: $margin-md;
    }

    @include breakpoint(large) {
      $shift: 2rem;

      position: relative;

      width: auto;
      max-width: rem(720);

      & > *:nth-child(2) {
        margin-top: 0;
      }

      &--left {
        margin-left: $shift;
      }

      &--right {
        margin-right: $shift;
      }
    }
  }

  &__title {
    @include breakpoint(large) {
      position: absolute;
      top: 0;
      translate: 0 calc(-100% - 4.5rem);

      padding-inline: $margin-md;
      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }
  }

  &__features-wrapper {
    display: grid;
    gap: rem(16);

    margin-left: 1.5 * $margin-sm;

    list-style: disc;
  }

  &__skills-wrapper {
    display: flex;
    gap: rem(8);
    flex-wrap: wrap;
  }

  &__links {
    display: flex;
    gap: rem(15);
    justify-content: flex-end;
  }
}
