@use '../../abstracts/' as *;

.projects {
  &__container {
    display: grid;
    gap: rem(100);

    @include breakpoint-down(medium) {
      gap: 80vw;
      width: 100%; // desactivate container utility class for mobile
    }

    @include breakpoint(medium) {
      gap: rem(150);
    }
  }

  &__body {
    display: grid;
    gap: 100vw;

    @include breakpoint(medium) {
      gap: rem(300);
    }
  }
}
