@use '../../abstracts/' as *;

.projects {
  &__container {
    display: grid;
    gap: $mb-title-lg;

    & > *:not(:nth-child(2)):not(:first-child) {
      margin-top: rem(100);
    }

    @include breakpoint-down(medium) {
      gap: 80vw;
      width: 100%; // container utility class only desactivated for mobile
    }
  }
}
