@use '../../abstracts/' as *;

.project {
  position: relative;

  display: grid;
  justify-content: center;

  &__img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    translate: 0 -75%;

    z-index: -1;

    @include breakpoint(medium) {
      --img-max-size: 360px;

      translate: 0 -50%;

      &--left {
        right: 0;
        left: calc(100% - var(--img-max-size));
      }

      &--right {
        left: 0;
        right: calc(100% - var(--img-max-size));
      }
    }

    & img {
      width: 100%;
      height: auto;

      @include breakpoint(medium) {
        border-radius: 8px;
        box-shadow: $glow;
      }
    }
  }

  &__content {
    --flow: 2.375rem;

    display: grid;
    gap: var(--flow);

    max-width: rem(350);

    margin-inline: $margin-sm;
    padding: var(--flow) (2 * $margin-sm);

    border-radius: 0.5rem;
    background-color: var(--clr-neutral-100);
    box-shadow: $glow;

    @include breakpoint(medium) {
      --shift: 4rem;

      max-width: unset;

      margin-inline: 0;
      padding-inline: 2.5rem;

      &--left {
        margin-right: var(--shift);
      }

      &--right {
        margin-left: var(--shift);
      }
    }

    @include breakpoint(large) {
      position: relative;

      width: auto;
      max-width: rem(800);
    }
  }

  &__title {
    @include breakpoint(large) {
      position: absolute;
      top: 0;

      translate: 0 calc(-100% - 4.5rem);

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }
  }

  &__features-wrapper {
    display: grid;
    gap: rem(8);

    margin-left: 1.5 * $margin-sm;

    list-style: disc;
  }

  &__skills-wrapper {
    display: flex;
    gap: rem(8);
    flex-wrap: wrap;
    align-items: center;
  }

  &__links {
    display: flex;
    gap: rem(15);
    flex-shrink: 0;
  }

  &__footer {
    display: grid;
    justify-content: space-between;
    gap: var(--flow);

    @include breakpoint(medium) {
      grid-template-columns: auto auto;
      gap: 1rem;
    }
  }
}
