@use '../../abstracts/' as *;

.contact-form {
  --flow: 3.4375rem;

  display: grid;
  gap: var(--flow);

  gap: rem(16);

  @include breakpoint(large) {
    gap: rem(16) rem(30);

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);

    & > *:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }

    & > *:nth-last-child(2) {
      grid-column: 3 / -1;
      grid-row: 1 / 4;
    }

    & > button {
      grid-column: 2 / -1;
      grid-row: 4 / 5;
    }

    & > *:last-child {
      grid-column: 2 / -1;
      grid-row: 4 / 5;
    }

    & > .input-field--pot {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }
  }

  &__submit {
    position: relative;

    margin-inline: auto;
    margin-top: var(--flow);
    @include breakpoint(large) {
      margin-inline: 0;
    }
  }

  &__infos {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: rem(28);

    margin-bottom: var(--flow);

    @include breakpoint(medium) {
      gap: rem(45);
    }

    @include breakpoint(large) {
      align-content: center;
      justify-items: start;
      margin-bottom: 0;
    }
  }

  &__status-infos {
    position: absolute;
    right: 50%;
    translate: 50% 250%;
    width: max-content;

    @include breakpoint('large') {
      right: 0;

      translate: 100% 0;
      padding-left: 3rem;
    }
  }
}
