@use '../../abstracts/' as *;

.input-field {
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: start;
  gap: rem(5);

  @include breakpoint(medium) {
    text-align: center;
  }

  &__input {
    width: 100%;
    min-height: 3.25em;

    padding-inline: 1em;

    border-radius: 4px;
    border: 2px solid var(--clr-neutral-300);

    &--textarea {
      min-height: 13.25em;
      resize: vertical;
      padding: 1em;
    }

    &--error {
      border-color: var(--clr-primary-700);
    }
  }

  &__error {
    position: absolute;
    right: 0;
  }
}
