@use '../../abstracts/' as *;

body#dark {
  .btn {
    box-shadow: $glow-dark--small;

    &--secondary {
      background-color: var(--clr-dark-neutral-500);
      border-color: var(--clr-dark-neutral-400);
    }

    &--loading {
      border-color: var(--clr-neutral-500);
      background-color: var(--clr-neutral-400);
    }

    &--success {
      background-color: var(--clr-dark-primary-200);
    }

    &--error {
      background-color: var(--clr-dark-primary-700);
    }
  }
}
