@use '../../abstracts/' as *;

body#dark {
  .btn {
    box-shadow: $glow-dark--small;

    &--secondary {
      background-color: var(--clr-dark-neutral-500);
      border-color: var(--clr-dark-neutral-400);
    }
  }
}
