@use '../../abstracts/' as *;
body#dark {
  .nav-links {
    &__item--active {
      color: var(--clr-neutral-250);
    }

    &__slider {
      border-color: var(--clr-neutral-100);
    }
  }

  .nav-item {
    @include on-hover {
      color: var(--clr-dark-neutral-250);
    }
  }
}
