@use '../../abstracts/' as *;
body#dark {
  .project {
    &__img-container {
      & img {
        @include breakpoint(medium) {
          box-shadow: $glow-dark;
        }
      }
    }
    &__content {
      background-color: var(--clr-dark-neutral-800);
      box-shadow: $glow-dark;
    }
  }
}
