body#dark {
  .switch {
    background-color: var(--clr-dark-neutral-600);
    box-shadow: 0 0 0px 3px var(--clr-dark-neutral-600);

    & img {
      filter: var(--clr-dark-svg-filter-300);
    }
    &__slider {
      background-color: var(--clr-dark-neutral-400);
    }
  }
}
