// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$colors: (
  primary: (
    100: hsl(209, 82%, 67%),
    200: hsl(200, 100%, 45%),
    300: hsl(209, 87%, 55%),
    400: hsl(209, 100%, 46%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 99%),
    250: hsl(0, 0%, 96%),
    300: hsl(0, 0%, 84%),
    400: hsl(0, 0%, 75%),
    500: hsl(0, 0%, 67%),
    550: hsl(0, 0%, 62%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    750: hsl(0, 0%, 20%),
    800: hsl(0, 0%, 13%),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }

  /// Build css utility for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      .fc-#{$color-type}-#{$shade} {
        color: $color;
      }
    }
  }
}
