// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$colors: (
  primary: (
    400: hsl(49, 96%, 52%),
    700: hsl(0, 96%, 52%),
  ),
  neutral: (
    100: hsl(0, 0%, 99%),
    250: hsl(0, 0%, 90%),
    300: hsl(0, 0%, 81%),
    350: hsl(0, 0%, 67%),
    400: hsl(0, 0%, 62%),
    500: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 20%),
    800: hsl(0, 0%, 7%),
  ),
  svg-filter: (
    400: brightness(0) saturate(100%) invert(78%) sepia(76%) saturate(1482%)
      hue-rotate(352deg) brightness(108%) contrast(96%),
    500: brightness(0) saturate(100%) invert(84%) sepia(16%) saturate(6374%)
      hue-rotate(358deg) brightness(101%) contrast(96%),
  ),
);

$colors-dark: (
  primary: (
    400: hsl(49, 96%, 52%),
    700: hsl(0, 96%, 52%),
  ),
  neutral: (
    100: hsl(0, 0%, 99%),
    250: rgb(230, 230, 230),
    300: hsl(0, 0%, 81%),
    350: hsl(0, 0%, 67%),
    400: hsl(0, 0%, 62%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 20%),
    700: hsl(0, 0%, 10%),
  ),
  svg-filter: (
    300: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(0%)
      hue-rotate(115deg) brightness(92%) contrast(93%),
    400: brightness(0) saturate(100%) invert(78%) sepia(76%) saturate(1482%)
      hue-rotate(352deg) brightness(108%) contrast(96%),
    500: brightness(0) saturate(100%) invert(84%) sepia(16%) saturate(6374%)
      hue-rotate(358deg) brightness(101%) contrast(96%),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }

  /// Build css custom variables for colors
  @each $color-type, $shades in $colors-dark {
    @each $shade, $color in $shades {
      --clr-dark-#{$color-type}-#{$shade}: #{$color};
    }
  }
}

/// Build css utility for colors
@each $color-type, $shades in $colors {
  @each $shade, $color in $shades {
    .fc-#{$color-type}-#{$shade} {
      color: $color;
    }
  }
}

@each $color-type, $shades in $colors-dark {
  @each $shade, $color in $shades {
    #dark {
      .fc-dark-#{$color-type}-#{$shade} {
        color: $color;
      }
    }
  }
}
