@use './mixins' as *;

$scale: (
  sm: (
    400: 0.875rem,
    500: 1rem,
    600: 1.5rem,
    700: 1.75rem,
    800: 2.625rem,
  ),
  lg: (
    400: 1rem,
    500: 1.125rem,
    600: 2rem,
    700: 2.75rem,
    800: 3.5rem,
  ),
);

$weights: (
  light: 300,
  normal: 400,
  semibold: 500,
  bold: 600,
);

:root {
  @each $screen-size, $font-size in $scale {
    @if $screen-size == 'sm' {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include breakpoint(large) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  @each $screen-size, $font-size in $scale {
    @each $font-key, $font-value in $font-size {
      .fs-#{$font-key} {
        @if $screen-size == 'sm' {
          font-size: var(--fs-#{$font-key});
        }
      }
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }

  @each $name, $value in $weights {
    .fw-#{$name} {
      font-weight: #{$value};
    }
  }
}
