@use './mixins' as *;

$scale: (
  sm: (
    400: rem(14),
    500: rem(16),
    600: rem(24),
    700: rem(28),
    800: rem(42),
  ),
  lg: (
    400: rem(14),
    500: rem(16),
    600: rem(24),
    700: rem(32),
    800: rem(48),
  ),
);

$weights: (
  light: 300,
  normal: 400,
  bold: 600,
);

:root {
  @each $screen-size, $font-size in $scale {
    @if $screen-size == 'sm' {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include breakpoint(large) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }

  @each $screen-size, $font-size in $scale {
    @each $font-key, $font-value in $font-size {
      .fs-#{$font-key} {
        @if $screen-size == 'sm' {
          font-size: var(--fs-#{$font-key});
        }
      }
    }
  }
}
