@use '../abstracts/functions' as *;
$text-font-stack: 'Poppins', sans-serif;

/// Container's maximum width
$max-width: 1380px;

$margin-sm: 1rem;
$margin-md: 2.5rem;
$margin-lg: 4rem;

$mb-title-sm: rem(100);
$mb-title-lg: rem(130);
