/// Regular font family
$text-font-stack: 'Poppins', sans-serif;

/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

/// Container's maximum width
$max-width: 1380px;

$margin-sm: 1rem;
$margin-md: 2.5rem;
$margin-lg: 4rem;
