@use '../../abstracts/' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: rem(140);
  min-height: rem(50);

  padding-inline: rem(25);

  border: 3px solid var(--clr-primary-400);
  border-radius: 1.5em;
  background-color: var(--clr-neutral-100);
  box-shadow: $glow--small;

  transition: 0.2s;
  &:hover {
    translate: 0 -3px;
  }

  &--primary {
    background-color: var(--clr-primary-400);
  }

  &--loading {
    cursor: default;
    border-color: var(--clr-neutral-400);
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-400);
  }
}
