@use '../../abstracts/' as *;

.select {
  --pad-left: 6px;

  position: relative;
  user-select: none;

  text-align: left;

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    padding-left: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & img {
      width: 10px;
      height: 10px;
      transition: 0.5s;
    }

    &[aria-expanded='true'] img {
      transform: rotateX(180deg);
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    left: calc(-1 * var(--pad-left));
    width: 100%;
    display: grid;

    height: 0;

    overflow: hidden;

    background-color: var(--clr-neutral-250);
    border-radius: 0 0 4px 4px;
    transition: 0.25s;

    &--open {
      height: 300%;
    }
  }

  &__option {
    padding-left: var(--pad-left);

    &:hover {
      background-color: var(--clr-neutral-300);
    }
  }
}
