@use '../../abstracts/' as *;

.switch {
  position: relative;
  display: flex;
  align-items: center;

  user-select: none;
  height: 18px;
  width: 40px;
  margin-inline: 3px;
  border-radius: 10px;
  background-color: var(--clr-neutral-300);
  outline: 3px var(--clr-neutral-300) solid;

  & img {
    height: 12px;
  }

  &__slider-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:before {
      content: '';
      flex-grow: 0;
      transition: 0.25s;
    }
  }

  &__slider {
    width: 21px;
    height: 18px;

    background-color: var(--clr-neutral-100);
    border-radius: 10px;
  }

  &__input:checked ~ &__slider-container:before {
    flex-grow: 1;
  }
}
