@use '../../abstracts/' as *;

.switch {
  --border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;

  user-select: none;
  height: 18px;
  width: 40px;
  margin-inline: 3px;
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-300);
  outline: 3px var(--clr-neutral-300) solid;

  -webkit-outline: 3px var(--clr-neutral-300) solid;
  -webkit-border-radius: var(
    --border-radius
  ); // Should fix outline on Safari (don't follow border-radius)

  @include breakpoint(medium) {
    height: 14px;
    width: 36px;
  }

  & img {
    height: 12px;
  }

  &__slider-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:before {
      content: '';
      flex-grow: 0;
      transition: 0.25s;
    }
  }

  &__slider {
    width: 21px;
    height: 18px;

    background-color: var(--clr-neutral-100);
    border-radius: 10px;

    @include breakpoint(medium) {
      height: 14px;
      width: 17px;
    }
  }

  &__input:checked ~ &__slider-container:before {
    flex-grow: 1;
  }
}
